:root {
    --skin-color: #016afb;
}

.logo {
    width: 100%;
    max-width: 400px;
}

.body-bg {
    /* background-color: rgb(49, 48, 48); */
    height: 100vh;
    background-color: black;
}

.social-ntw {
    width: 30px;
    height: 30px;
}

.row {
    --bs-gutter-x: 2.5rem !important;
}

.article-content {
    text-align: justify;
}

.infos-text {
    display: flex;
    flex-direction: column;
}

.list-style {
    list-style-type: none;
}

.article-infos {
    width: 135px;
}

.author {
    display: flex;
}