:root {
    --skin-color: #016afb;
}

.logo {
    width: 100%;
    max-width: 400px;
}

.body-bg {
    /* background-color: rgb(49, 48, 48); */
    height: 100vh;
    background-color: black;
}

.social-ntw {
    width: 30px;
    height: 30px;
}

.row {
    --bs-gutter-x: 2.5rem !important;
}

.deco::after {
    content: "";
    display: block;
    flex: 100;
    border-bottom: 4px solid var(--skin-color);
    transform: translateY(-12px);
    margin-left: 30px;
    width: 1262px;
}

.article-downbar::after {
    content: "";
    display: block;
    flex: 100;
    border-bottom: 4px solid var(--skin-color);
    transform: translateY(-12px);
}

.article-content {
    text-align: justify;
}

.infos-text {
    display: flex;
    flex-direction: column;
}

.list-style {
    list-style-type: none;
}

.article-infos {
    width: 135px;
}

.author {
    display: flex;
}

.card {
    width: 18rem;
}

.card-img, .card-img-bottom, .card-img-top    {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-body {
    white-space: nowrap;
}

h5 {
    font-size: 15px;
}

.checked {
    color: orange;
}

.nopad {
    padding-right: 0px;
    padding-left: 0px;
}

.impaire {
    background-color: #dc9500 !important;
    color: white !important;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #000000 !important;
    --bs-dropdown-color: #212529 !important;
    --bs-dropdown-link-color: #212529 !important;
    --bs-dropdown-link-hover-color: #ffffff !important;
    --bs-dropdown-link-active-bg: #df9a00 !important;
}

.checked2 {
    color: black;
}

.card-text {
    white-space: pre-wrap !important;
    text-align: center !important;
}